@model JobDetailsViewModel
@using Microsoft.AspNetCore.Html;
<!-- ============================================================== -->
<!-- ======================= Start Banner ===================== -->
<section class="page-title-banner" style="background-image:url(https://via.placeholder.com/1280x855);">
    <div class="container">
        <div class="row m-0 align-items-end detail-swap">
            <div class="tr-list-wrap">
                <div class="tr-list-detail">
                    <div class="tr-list-thumb">
                        <img src="@Model.JobCard.CompanyLogoUrl" class="img-responsive" alt="" />
                    </div>
                    <div class="tr-list-info">
                        <h4 class="mb-1">@Model.JobCard.Title</h4>
                        <h6 class="font-14"><a href="@Model.JobCard.CompanyLogoUrl" class="text-warning">@Model.JobCard.CompanyName</a></h6>
                        <p class="mb-1"><i class="ti-location-pin mr-2"></i>@Model.JobCard.Location</p>
                    </div>
                </div>
                <div class="listing-detail_right">
                    <div class="listing-detail-item">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#apply" class="btn btn-list full-width mb-2 text-warning"><i class="ti-email mr-2"></i> Apply This Job</a><br>
                        <a href="#" class="btn btn-list full-width color--linkedin"><i class="ti-linkedin mr-2"></i> Apply With linkedin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= End Banner ===================== -->




<!-- ============== Job Detail ====================== -->
<section class="tr-single-detail gray-bg">
    <div class="container">
        @if (Model.IsPreview)
        {
            <div class="alert alert-warning">
                <b>Esta vacante no ha sido aprobada. Revise de nuevo más tarde.</b>
            </div>
        }
        <div class="row">

            <div class="col-md-8 col-sm-12">

                <!-- Job Overview -->
                <div class="tr-single-box">
                    <div class="tr-single-header">
                        <h4><i class="ti-info"></i>Job Overview</h4>
                    </div>
                    <div class="tr-single-body">
                    @Html.Raw( Model.JobCard.Description.Trim())
                    </div>
                </div>

                <!-- Job Qualifications -->
                <div class="tr-single-box">
                    <div class="tr-single-header">
                        <h4><i class="ti-book"></i>How to Apply</h4>
                    </div>
                    <div class="tr-single-body">
                         @Html.Raw( Model.JobCard.HowToApply.Trim())
                    </div>
                </div>

                <a href="javascript:void(0)" data-toggle="modal" data-target="#apply" class="btn btn-info full-width mb-2"> Apply This Job</a>

            </div>

            <!-- Sidebar Start -->
            <div class="col-md-4 col-sm-12">

                <div class="offer-btn-wrap mb-4">
                    <a href="#" class="btn btn-info btn-md full-width"><i class="mr-2 ti-bookmark"></i>Bookmark This Job</a>
                </div>

                <!-- Company Address -->
                <div class="tr-single-box">
                    <div class="tr-single-header">
                        <h4><i class="ti-direction"></i> Company Address</h4>
                    </div>

                    <div class="tr-single-body">
                        <ul class="extra-service">
                            <li>
                                <div class="icon-box-icon-block">
                                    <a href="#">
                                        <div class="icon-box-round">
                                            <i class="lni-map-marker"></i>
                                        </div>
                                        <div class="icon-box-text">
                                            524 New Ave, CA 548, USA
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="icon-box-icon-block">
                                    <a href="#">
                                        <div class="icon-box-round">
                                            <i class="lni-phone-handset"></i>
                                        </div>
                                        <div class="icon-box-text">
                                            +1 415-989-1002
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="icon-box-icon-block">
                                    <a href="#">
                                        <div class="icon-box-round">
                                            <i class="lni-envelope"></i>
                                        </div>
                                        <div class="icon-box-text">
                                            helpsupport.com@finding.com
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="icon-box-icon-block">
                                    <a href="#">
                                        <div class="icon-box-round">
                                            <i class="lni-world"></i>
                                        </div>
                                        <div class="icon-box-text">
                                            www.myfinding.com
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>

                <!-- Share this
                <div class="tr-single-box">
                    <div class="tr-single-header">
                        <h4><i class="ti-share"></i> Share this Job</h4>
                    </div>

                    <div class="tr-single-body">
                        <ul class="extra-service half">
                            <li>
                                <div class="icon-box-icon-block">
                                    <a href="#">
                                        <div class="icon-box-round">
                                            <i class="lni-facebook"></i>
                                        </div>
                                        <div class="icon-box-text">
                                            Facebook
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="icon-box-icon-block">
                                    <a href="#">
                                        <div class="icon-box-round">
                                            <i class="lni-google-plus"></i>
                                        </div>
                                        <div class="icon-box-text">
                                            Google plus
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="icon-box-icon-block">
                                    <a href="#">
                                        <div class="icon-box-round">
                                            <i class="lni-twitter"></i>
                                        </div>
                                        <div class="icon-box-text">
                                            Twitter
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="icon-box-icon-block">
                                    <a href="#">
                                        <div class="icon-box-round">
                                            <i class="lni-linkedin"></i>
                                        </div>
                                        <div class="icon-box-text">
                                            LinkedIn
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="icon-box-icon-block">
                                    <a href="#">
                                        <div class="icon-box-round">
                                            <i class="lni-instagram"></i>
                                        </div>
                                        <div class="icon-box-text">
                                            Instagram
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="icon-box-icon-block">
                                    <a href="#">
                                        <div class="icon-box-round">
                                            <i class="fa fa-pinterest"></i>
                                        </div>
                                        <div class="icon-box-text">
                                            Pinterest
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div> -->

            </div>
            <!-- /col-md-4 -->
        </div>
    </div>
</section>
<!-- ============== Job Detail ====================== -->