@using Web.Framework.Helpers
@model Web.ViewModels.WizardViewModel

@*if (!ViewBag.IsEdit)
{
    ViewBag.Title = "Nuevo Empleo";
}
else
{
    ViewBag.Title = "Editar Empleo";

}
*@
@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="container" id="validation-errors">
        <div class='validation-summary-errors" panel panel-danger' data-valmsg-summary="true">
            <div class="panel-heading">
                Errores:
            </div>
            <div class="panel-body">
                <ul>
                    @foreach (var m in ViewData.ModelState)
                    {
                        if (m.Value.Errors.Any())
                        {
                            <li>
                                <a href="javascript:void(0)" data-field="@m.Key" class="text-danger">
                                    @m.Value.Errors.First().ErrorMessage
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}

<section class="wizard-container">
    <div class="container">
        @using (Html.BeginForm("Wizard", "Jobs", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <input type="hidden" asp-for="Id" />
        <div>
            <span class="h2 section-title"></span>
            <hr class="hidden-xs" />
            <div class="tab section-1">
                <span class="hidden-xs">1</span>
                <span class="hidden-lg hidden-md hidden-sm hidden-print">Paso 1 de 2</span>
            </div>
            <div class="tab section-2">
                <span class="hidden-xs">2</span>
                <span class="hidden-lg hidden-md hidden-sm hidden-print">Paso 2 de 2</span>
            </div>
        </div>
        <div id="wizard" class="owl-carousel owl-theme">
            <div class="item" data-parsley-group="business-details">
                <div class="form-group" id="company-name-group">
                    <label asp-for="@Model.CompanyName"></label>
                    <input asp-for="@Model.CompanyName" class="form-control" placeholder="CompanyX, SRL." required="" data-parsley-group="business-details" />
                    <span><b>Tip:</b> Los mejores candidatos tienden a hacer caso omiso de propuestas an&oacute;nimas</span>
                    <br />
                    @Html.ValidationMessageFor(m => m.CompanyName)
                </div>
                <div class="form-group" id="company-email-group">
                    <label asp-for="CompanyEmail"></label>
                    <input asp-for="CompanyEmail" class="form-control" type="email" placeholder="email@companyx.com" required="" data-parsley-group="business-details" />
                    @Html.ValidationMessageFor(m => m.CompanyEmail)
                </div>
                <div class="form-group" id="company-website-group">
                    <label asp-for="CompanyUrl"></label>
                    <input asp-for="CompanyUrl" class="form-control" type="url" data-parsley-group="business-details" placeholder="http://www.companyx.com" data-parsley-type="url" />
                    <span>
                        <b>Tip:</b> Muchos aplicantes visitar&aacute;n tu sitio web y lo tomar&aacute;n
                        como referencia antes de decidirse por t&iacute;. Si tu empresa no tiene un sitio web
                        o crees que necesita unas mejoras, considera buscar un web developer en
                        <a href="@Url.Action("Index", "Home" )">emplea.do</a>
                    </span>
                    <br />
                    @Html.ValidationMessageFor(m => m.CompanyUrl)
                </div>
                <div class="form-group" id="company-logo-group">
                    <label asp-for="CompanyLogoUrl"></label>
                    <input asp-for="CompanyLogoUrl" class="form-control" type="url" data-parsley-type="url" data-parsley-group="business-details" placeholder="https://companyx.com/logo.png" />
                    <span>
                        Asegurate de que el servidor donde est&eacute; alojado el logo acepte hotlinks.
                        Si no sabes que es eso, no te preocupes, sube el logo a <a href="https://imgur.com" target="_blank">imgur</a> y pega la url aqu&iacute;
                    </span>
                    <br />
                    @Html.ValidationMessageFor(m => m.CompanyLogoUrl)
                </div>
                <a class="btn-next btn btn-primary btn-lg">Siguiente</a>
            </div>
            <div class="item" data-parsley-group="job-details">
                <div class="form-group" id="job-title-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="ejemp. Se busca Web Designer" data-parsley-group="job-details" required />
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
                <div class="form-group" id="job-category-group">
                    <label asp-for="Categories"></label>
                    <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control" id="category" data-parsley-group="job-details"></select>
                </div>
                <div class="form-group" id="job-category-group">
                    Empleado
                    <select asp-for="JobTypeId" asp-items="@(new SelectList(Model.JobTypes, "Id", "Name"))" class="form-control" id="job-type"></select>
                </div>
                <div class="form-group" id="how-apply-group">
                    <label asp-for="HowToApply"></label>
                    <textarea asp-for="HowToApply" class="form-control textarea" required data-parsley-group="job-details" placeholder="Agrega los pasos que un candidato debe realizar para aplicar a el puesto, no hay que proporcionar el correo en este campo."></textarea>
                    @Html.ValidationMessageFor(m => m.HowToApply)
                </div>
                <div class="form-group" id="job-location-group">
                    <label asp-for="LocationName"></label>
                    <input asp-for="LocationName" class="form-control" placeholder="Selecciona una localidad" id="location-input" required data-parsley-group="job-details" autocomplete="off" />
                    <input type="hidden" asp-for="LocationLatitude" id="location-latitude" data-parsley-group="job-details" />
                    <input type="hidden" asp-for="LocationLongitude" id="location-longitude" data-parsley-group="job-details" />
                    <input type="hidden" asp-for="LocationPlaceId" id="location-placeid" data-parsley-group="job-details" />
                    @Html.ValidationMessageFor(x => x.LocationName)
                </div>
                <div class="form-group">
                    <input type="checkbox" asp-for="IsRemote" />
                    <label asp-for="IsRemote"></label>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control textarea" data-parsley-group="job-details" data-parsley-errors-container="#description-erros" required></textarea>
                    @Html.ValidationMessageFor(m => m.Description)
                    <span>
                        <b>Tip:</b> Se lo más explícito posible, si eres de recursos humanos consulta con una persona de
                        tecnología sobre cuales son los requerimientos técnicos.
                    </span>
                    <span id="description_errors" class="danger"></span>
                </div>
                <a class="btn-prev btn btn-warning btn-lg">Anterior</a>
                <button type="submit" class="btn btn-primary btn-lg">Guardar información</button>
            </div>
            @*
        <div class="item">
            <p>
                Si no sabes que es puedes
                <a href="http://local.joelonsoftware.com/wiki/El_Test_de_Joel:_12_pasos_hacia_un_c%C3%B3digo_mejor" target="_blank">leer aqu&iacute;</a>.
                En resumen, es un cuestionario para medir la calidad del equipo de desarrollo de tu empresa. Coteja las opciones que apliquen.
                <br />**Este paso es opcional y solo aplica para posiciones relacionadas al Desarrollo de Software
            </p>
            <div class="form-group">
                <input type="checkbox" asp-for="HasSourceControl" />
                <label asp-for="HasSourceControl"></label>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="HasOneStepBuilds" />
                <label asp-for="HasOneStepBuilds"></label>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="HasDailyBuilds" />
                <label asp-for="HasDailyBuilds"></label>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="HasBugDatabase" />
                <label asp-for="HasBugDatabase"></label>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="HasBusFixedBeforeProceding" />
                <label asp-for="HasBusFixedBeforeProceding"></label>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="HasUpToDateSchedule" />
                <label asp-for="HasUpToDateSchedule"></label>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="HasSpec" />
                <label asp-for="HasSpec"></label>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="HasQuiteEnvironment" />
                <label asp-for="HasQuiteEnvironment"></label>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="HasBestTools" />
                <label asp-for="HasBestTools"></label>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="HasTesters" />
                <label asp-for="HasTesters"></label>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="HasWrittenTest" />
                <label asp-for="HasWrittenTest"></label>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="HasHallwayTests" />
                <label asp-for="HasHallwayTests"></label>
            </div>
            <a class="btn-prev btn btn-warning btn-lg">Anterior</a>
            <button type="submit" class="btn btn-primary btn-lg">Guardar información</button>
        </div>*@
        </div>
}
    </div>
</section>
@section styles{
    <link href="~/css/jobs/wizard.css" rel="stylesheet" />
}
@section scripts {
    <script type="text/javascript" src="~/js/parsley.min.js"></script>
    <script type="text/javascript" src="~/js/i18n/parsley/es.js"></script>
    <script type="text/javascript" src="~/js/jobs/wizard.js"></script>

}