@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        const string branch = "Emplea.do";
        var title = string.IsNullOrWhiteSpace(ViewBag.Title) ? branch : $"{ViewBag.Title} - {branch}";
    }
    <title>@title</title>
    @{
        var ogTitle = String.IsNullOrWhiteSpace(@ViewBag.Title) ? "Emplea.do" : @ViewBag.Title + " - Emplea.do";
        var ogDescription = String.IsNullOrWhiteSpace(ViewBag.Description) ? "La manera más fácil de encontrar un empleo en el área de tecnología." : ViewBag.Description;
        var ogImage = String.IsNullOrWhiteSpace(ViewBag.ImageUrl);// ? new Uri(Context.Request.Host.ToUriComponent(),"/images/logo.png") : ViewBag.ImageUrl;
    }
    <meta property="og:title" content="@ogTitle">
    <meta property="og:description" content="@ogDescription">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@Context.Request.Host">
    @* <meta property="og:image" content="@ogImage">
    *@
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet">
    <link href="~/lib/swal/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/lib/icheck/skins/square/_all.css" rel="stylesheet">
    <link href="~/lib/quill/dist/quill.bubble.css" rel="stylesheet">
    <link href="~/lib/quill/dist/quill.snow.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">

    @RenderSection("Styles", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)

</head>
<body>
    <div class="Loader"></div>
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <partial name="_Navigationbar" />
        <div class="clearfix"></div>
        <!-- ============================================================== -->
        <partial name="_Alerts" />
        <!-- Top header  -->
        @RenderBody()

        <!-- ============================ Footer Start ================================== -->
        <partial name="_Footer" />
        <!-- ============================ Footer End ================================== -->
    </div>

    <environment include="Development,Production">
        <script>
        var base_url = '@(this.Context.Request.Scheme +"://" + this.Context.Request.Host.ToUriComponent())';
        </script>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/popperjs/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/select2/dist/js/select2.min.js"></script>
        <script src="~/lib/aos/aos.js"></script>
        <script src="~/lib/jquery.perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/lib/Counter-Up/jquery.counterup.min.js"></script>
        <script src="~/lib/slick-carousel/slick.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/jquery.isotope/isotope.pkgd.min.js"></script>
        <script src="~/lib/summernote/summernote.min.js"></script>
        <script src="~/lib/swal/dist/sweetalert2.all.min.js"></script>
        <script src="~/lib/icheck/icheck.min.js"></script>
        <script type="text/javascript" src="~/lib/quill/dist/quill.js"></script>

        <script src="~/js/custom.js"></script>
        <script src="~/js/site.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>