@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        const string branch = "Emplea.do";
        var title = string.IsNullOrWhiteSpace(ViewBag.Title) ? branch : $"{ViewBag.Title} - {branch}";
    }
    <title>@title</title>
    @{
        var ogTitle = String.IsNullOrWhiteSpace(ViewBag.Title) ? "Emplea.do" : @ViewBag.Title + " - Emplea.do";
        var ogDescription = String.IsNullOrWhiteSpace(ViewBag.Description) ? "La manera más fácil de encontrar un empleo en el área de tecnología." : ViewBag.Description;
        var defaultImage = "https://" + this.Context.Request.Host.ToUriComponent()+"/img/logo.png";
        var ogImage = String.IsNullOrWhiteSpace(ViewBag.ImageUrl) ? defaultImage : ViewBag.ImageUrl;
    }
    <meta property="og:title" content="@ogTitle">
    <meta property="og:description" content="@ogDescription">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@Context.Request.Host">
    <meta property="og:image" content="@ogImage">

    <link href="~/css/site.min.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">

    @RenderSection("Styles", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="Loader"></div>
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <partial name="_Navigationbar" />
        <div class="clearfix"></div>
        <!-- ============================================================== -->
        <partial name="_Alerts" />
        <!-- Top header  -->
        @RenderBody()

        <!-- ============================ Footer Start ================================== -->
        <partial name="_Footer" />
        <!-- ============================ Footer End ================================== -->
    </div>
    <partial name="_Analytics" />
    <environment include="Development,Production">
        <script>
        var base_url = '@(this.Context.Request.Scheme +"://" + this.Context.Request.Host.ToUriComponent())';
        </script>
        <script src="~/js/site.min.js"></script>
    </environment>
    
    @RenderSection("Scripts", required: false)
</body>
</html>