@model Domain.Entities.Job

<div class="job-new-list">
    <div class="vc-thumb">
        <a href="/company/@Html.Raw(Model.CompanyId)">
           @if(!string.IsNullOrWhiteSpace(Model.Company.LogoUrl)&& !Model.Company.LogoUrl.StartsWith("http://"))
           {
            <img class="img-fluid" src="@Model.Company.LogoUrl" alt="@Model.Company.Name">
           }
           else 
           {
            <h5 style="font-size:30px">@(Model.Company.Name.Length > 2 ? Model.Company.Name.Substring(0,2) : Model.Company.Name)</h5>
           }
        </a>
    </div>
    <div class="vc-content" style="max-width:75%">
        <h5 class="title"><a href="@Url.Action("Details", "Jobs", new { Id=Model.Id })">@Model.Title</a> <span class='badge badge-primary'>@Model.HireType.Name</span>
            @if (Model.IsRemote) { 
                <span class="badge badge-warning">Remoto</span>
            }
        </h5>
        <p>@(string.IsNullOrWhiteSpace(Model.Company.Name) ? "No disponible" : Model.Company.Name)</p>
        <ul class="vc-info-list">
            <li class="list-inline-item"><h5>Ubicación</h5> <i class="ti-location-pin mr-2"></i>@(Model.Location != null ? string.IsNullOrWhiteSpace(Model.Location.Name) ? "N/A" : Model.Location.Name : "N/A")</li>
            <li class="list-inline-item"><h5>Publicado</h5>@Model.PublishedDate.ToDominicanFormat()</li>
            <!-- <li class="list-inline-item">
                <h5>Skills</h5>
                <div class="skills">
                    <span>Html</span><span>Css3</span><span>photoshop</span><span>java</span><span>+3 more</span>
                </div>
            </li> -->
        </ul>
    </div>
    <div class="float-right">
        <ul class="vc-info-list">
            <li class="list-inline-item"><i class="ti-thumb-up mr-2"></i>@Model.Likes</li>
            <li class="list-inline-item"><i class="ti-eye mr-2"></i>@Model.ViewCount</li>
        </ul>
    </div>
    <a class="btn job-view-more" href="@Url.Action("Details", "Jobs", new { Id=Model.Id })">Ver más<i class="ti-arrow-right ml-1"></i></a>
</div>
