@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    //Fake User for test
    var User = new { Identity = new { UserId = -1, Name="Claudio", Email="claudio@megsoft.io"} };
}
@model LegacyAPI.JobCardDTO

<div class="job-new-list">
    <div class="vc-thumb">
        <a asp-controller="company" asp-action="index" asp-route-data="new { Model.Company.Id }">
           @if(!string.IsNullOrWhiteSpace(Model.CompanyLogoUrl) && !Model.CompanyLogoUrl.StartsWith("http://"))
           {
            <img class="img-fluid" src="@Model.CompanyLogoUrl" alt="@Model.CompanyName">
           }
           else 
           {
            <h5 style="font-size:30px">@Model.CompanyName.Substring(0,2)</h5>
           }
        </a>
    </div>
    <div class="vc-content">
        <h5 class="title"><a href="@Url.Action("Details", "Jobs", new { Id=Model.Link, isLegacy = true})">@Model.Title</a> <span class='badge badge-primary'>@Model.JobType</span> </h5>
        <p>@(string.IsNullOrWhiteSpace(Model.CompanyName) ? "No disponible" : Model.CompanyName)</p>
        <ul class="vc-info-list">
            <li class="list-inline-item"><h5>Ubicación</h5> <i class="ti-location-pin mr-2"></i>@(string.IsNullOrWhiteSpace(Model.Location) ? "N/A" : Model.Location)</li>
            <li class="list-inline-item"><h5>Publicado</h5>@Model.PublishedDate.ToDominicanFormat()</li>
            <!-- <li class="list-inline-item">
                <h5>Skills</h5>
                <div class="skills">
                    <span>Html</span><span>Css3</span><span>photoshop</span><span>java</span><span>+3 more</span>
                </div>
            </li> -->
        </ul>
    </div>
    <div class="float-right">
        <ul class="vc-info-list">
            <li class="list-inline-item"><i class="ti-thumb-up mr-2"></i>@Model.Likes</li>
            <li class="list-inline-item"><i class="ti-eye mr-2"></i>@Model.ViewCount</li>
        </ul>
    </div>
    <a class="btn job-view-more" href="@Url.Action("Details", "Jobs", new { Id=Model.Link, isLegacy = true})">Ver más<i class="ti-arrow-right ml-1"></i></a>
</div>